
@import './utils/fonts';
@import'./utils/variables.scss';
@import './base';
@import './utils/utils';
@import './components/buttons' ;
@import './components/format-card' ;
@import './components/_form-terms' ;
@import './components/links';
@import './layouts/header';
@import './layouts/section';
@import './layouts/containair';
@import './components/hero-section';
@import './layouts/advantage-section';
@import './layouts/tradition-section';
@import './layouts/chefs-section';
@import './layouts/format-section';
@import './layouts/contact-section';
@import './layouts/footer';
@import './layouts/modal';
@import './layouts/mobile-menu';
@import './components/input';
@import './components/carousel';
@import './components/chef-cards';
@import './utils/text';








 