.carousel-buton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: transparent;
  width: 44px;
  height: 44px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
}
.carousel-arrow {
  fill: var(--color-primary-dark);
}
.carousel-buton:hover {
  background-color: var(--color-primary-dark);
}
.carousel-buton:hover .carousel-arrow {
  fill: var(--color-primary-wite);
}
.next{
  transform: rotate(180deg);
}
