.carousel-buton {
   display: none;
    @media screen and (min-width: $bp-tablet) {
      display: flex;
  
  
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: transparent;
  width: 44px;
  height: 44px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
    }
  &.next{
  transform: rotate(180deg);
}
&:hover {
  background-color: var(--color-primary-dark);
}
}
.carousel-arrow {
  fill: var(--color-primary-dark);
}

.carousel-buton:hover .carousel-arrow {
  fill: var(--color-primary-wite);
}

