.format-card{
      display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
  height: 444px;
  border: 1px solid lightgray;
  border-radius: 16px;
  padding: 24px;
 
  overflow: hidden;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primary-dark) 100%
  );
&__title {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-primary-wite);
}
&__img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
&__text {
  font-size: 14px;
  font-weight: 300;
  color: var(--color-primary-wite);
}


}



