.form-terms{
  padding: 10px;
  max-width: 220px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 12px;
  left: 1.5;
  text-align: center;
  
  &__link{
  color: var(--color-primary-dark);
  text-underline-offset: 2px;
}
}
