.hero-section {
  padding: 124px 0;
  background-image: linear-gradient(
      102.76deg,
      rgba(18, 18, 17, 0.78) 2.03%,
      rgba(18, 18, 17, 0.6) 58.46%,
      rgba(18, 18, 17, 0) 90.36%
    ),
    url('../images/fon.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  @media screen and (min-width: $bp-tablet) {
     padding: 272px 0;
    }
  &__title {
    color: var(--color-primary-wite);
    text-align: center;
    margin-bottom: 48px;
    font-size: 67px;
    font-weight: 900;
    line-height: 1;
    @media screen and (min-width: $bp-tablet) {
      font-size: 128px;
      line-height: 1.5;
      margin-bottom: 0;
    }
  }
  &__title span {
    color: var(--color-brand-normal);
  }
  &__button{
    margin: 0 auto;
    @media screen and (min-width: $bp-tablet) {
      display: none;
    }
  }
}
