.footer {
  background-color: var(--color-primary-dark);
  background-image: url(../images/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 32px 0;
  position: relative;
 
  &__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
   @media screen and (min-width: $bp-tablet) {
    flex-direction: row;
       flex-basis: 50%; 
  
    }
}
&::before,
&::after {
  position: absolute;
  bottom: 0;
  content: '';
  background-repeat: no-repeat;
}
&::before {
  width: 180px;
  height: 120px;
  left: 0;
  background-image: url('../images/bread-small.png');
}
&::after {
  width: 380px;
  height: 190px;
  right: 0;
  background-image: url('../images/bread-large.png');
}
&__nav,
&__adress {
  display: flex;
  flex-direction: column; text-align: center;

   @media screen and (min-width: $bp-tablet) {
    flex-direction: row;
       flex-basis: 50%; 
       text-align: left;
  
    }
}
&__logo,
&__menu {
  flex-grow: 1;
}
&__address-list,
&__adress-info {
  flex-grow: 1;
}
&__address-link {
  color: var(--color-primary-wite);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}
&__address-link:hover {
  color: var(--color-brand-normal);
}
&__adress-icons {
  fill: var(--color-primary-wite);
  stroke: #465929;
}
&__adress-icons:hover {
  fill: var(--color-brand-light);
}
&__address-copiright {
  font-size: 14px;
}
}



