.formats-section {
  &__title {
    margin-bottom: 80px;
  }

  &__slider {
    display: flex;
    gap: 32px;
    align-items: center;
  }
  &__container {
    overflow: hidden;
  }
  &__list {
    margin-bottom: 32px;
  }
  
}
