.mobile-menu{
    position: fixed;
    top: 0;
    left:  0;
    
     width: 100%;
    height: 100%;
    background-color: var(--color-primary-wite);
    transform: translateX(100%);
    transition: transform 0.3s;
    &.is-open{
 transform: translateX(0);
    }
    &__btn-close{
        position: absolute;
        top: 16px;
        right: 16px;
    }
    &__nav {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 24px;
    
}
&__item {
    color: #000;
    text-decoration: none;
    font-size: 40px;
}
}





